@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes flow-right {
  from { transform: translateX(0); }
  to { transform: translateX(calc(100vw + 100%)); }
}

@keyframes flow-left {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-100vw - 100%)); }
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-flow-right {
  animation: flow-right 10s linear infinite;
}

.animate-flow-left {
  animation: flow-left 10s linear infinite;
} 